.mon{
    padding-top: 50px;
}
@media screen and (max-width: 850px){
    body{
        overflow-x: hidden;

    }
    .hamburgerToggle{
        display: block;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        width: 20%;
        top:15vh;
        font-size: 32px;
        background: rgb(52, 105, 151);
        transform: translateX(100%);
        
        
    }
   .link a{
        color:black
    }
  
    .active{
        transform: translateX(0%);
     
    }
}
.navlinks{
    display: flex;
    width:100%;
    justify-content: space-around;
    list-style: none;
    font-size: 24px;
    color:black
}